
    <footer>
            <div>
                <a href="/form">Profissionais</a>
                <a href="/form">Empresas</a>
                <a href="#quem" class="scroll">Quem Somos</a>
                <a href="/mensagem">Contato</a>
                <a href="/form">Inscreva-se</a>
                <a href="">Desafios</a>
                <a href="/login">Entrar</a>
            </div>
        </footer>