
    <footer>
            <div>
                <a href="/usuario">Profissionais</a>
                <a href="/enterprises">Empresas</a>
                <a href="/us">Quem Somos</a>
                <a href="/mensagem">Contato</a>
                <a href="/form">Inscreva-se</a>
                <a href="/rank">Desafios</a>
            </div>
        </footer>