<section class="full">
    <div id="login">
        <a href="/form">Cadastro</a>
        <a href="/login">Entrar</a>
    </div>
    
    <div>
        <h1>IT&D</h1>
    </div>
    
    <div>
        <a href="/">Início</a>
        <a id="QS" href="#quem" class="scroll">Quem somos</a>
        <a href="#pros" class="scroll">Profissionais</a>
        <a href="#empresas" class="scroll">Empresas</a>            
    </div>    
</section>