
<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <div class="tks">
        <div>
             <h1>Obrigado! Os seus dados foram registrados com sucesso em breve entraremos em contato</h1>
        </div>
    </div>   
</body>
</html>