<div id="hamburger">
    <div class="barrinha"></div>
    <div class="barrinha"></div>
    <div class="barrinha"></div>
</div>
<h2 class="invisivel">IT&D</h2>
<ul class="invisivel">
    <li> <a href="/quemSomos">Quem somos</a></li>
    <li> <a href="/enterprise">Contato</a></li>
    <li> <a href="/form">Cadastro</a></li>
    <li> <a href="/login">Entrar</a></li>
</ul>