<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('shared/head')%>
</head>

<body>
    <section>

        <div class="CAPA">
            <h1></h1>
        </div>
        <div class="VazioSup">
            <div class="perfil">
                <img src="/static/img/com.jpg" alt="Foto perfil">
            </div>
            <h1>Vogel.NET</h1>
            <h2>Empresa de desenvolvimento Web</h2>
    
        </div>
        
    
        <div class="navega">
            <button onclick="Grade1()" >Freelancers</button>
            <button  onclick="Grade2()" >Pendências</button >
        </div>
        
        <div id="master">
            <div class="grade">
                
                    <div class="jobC">
                        <h1>x</h1>
                        <h2>Freelancer : A</h2>
                        <p>Devera desenvover todo banco de dados para essa Empresa</p>
                        <p>Para 25/10/2018</p>
                        <div class="but">
                                <button>Terminado</button>
                                <button>Cancelar</button>
                        </div>
                        
                    </div>
                    <div class="jobC">
                            <h1>O</h1>
                            <h2>Freelancer: A</h2>
                            <p>Devera desenvover todo banco de dados para essa Empresa</p>
                            <p>Para 25/10/2018</p>
                            <div class="but">
                                    <button>Terminado</button>
                                    <button>Cancelar</button>
                            </div>
                            
                    </div>
                    
            </div>
            <div class="grade">
                
                <div class="jobC">
                    <h1>y</h1>
                    <h2>Freelancer : B</h2>
                    <p>Devera desenvover todo banco de dados para essa Empresa</p>
                    <p>Para 25/10/2018</p>
                    <div class="but">
                            <button>Candidatar-se</button>
                    </div>
                    
                </div>
                
            </div>
                    
            </div>
        </div>
       
        

</body>

</html>