<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('shared/head')%>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="#">Quem somos</a>
	  <a href="#">Contato</a>
	  <a href="#">Configurações</a>
	  <a href="/">Sair</a>
	</div>
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">
	 <div id="hamburger">
            <div class="barrinha"></div>
            <div class="barrinha"></div>
            <div class="barrinha"></div>
        </div>
	</span>

	<script>
	
	</script>
    <section>
	
        <div class="CAPA">
            <h1></h1>
        </div>
        <div class="VazioSup">
            <div class="perfil">
                <img src="/static/img/com.jpg" alt="Foto perfil">
            </div>
            <h1>Vogel.NET</h1>
            <h2>Empresa de desenvolvimento Web</h2>
    
        </div>
        
    
        <div class="navega">
            <button onclick="Grade1()" >Freelancers</button>
            <button  onclick="Grade2()" >Pendências</button >
        </div>
        
        <div id="master">
            <div class="grade">
                
                    <div class="jobC">
                        <h1>x</h1>
                        <h2>Freelancer : A</h2>
                        <p>Devera desenvover todo banco de dados para essa Empresa</p>
                        <p>Para 25/10/2018</p>
                        <div class="but">
                                <button>Terminado</button>
                                <button>Cancelar</button>
                        </div>
                        
                    </div>
                    <div class="jobC">
                            <h1>O</h1>
                            <h2>Freelancer: A</h2>
                            <p>Devera desenvover todo banco de dados para essa Empresa</p>
                            <p>Para 25/10/2018</p>
                            <div class="but">
                                    <button>Terminado</button>
                                    <button>Cancelar</button>
                            </div>
                            
                    </div>
                    
            </div>
            <div class="grade">
                
                <div class="jobC">
                    <h1>y</h1>
                    <h2>Freelancer : B</h2>
                    <p>Devera desenvover todo banco de dados para essa Empresa</p>
                    <p>Para 25/10/2018</p>
                    <div class="but">
                            <button>Candidatar-se</button>
                    </div>
                    
                </div>
                
            </div>
                    
            </div>
        </div>
       
        

</body>

</html>