<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('shared/head')%>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="#">Quem somos</a>
	  <a href="#">Contato</a>
	  <a href="#">Configurações</a>
	  <a href="/">Sair</a>
	</div>
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">
	 <div id="hamburger">
            <div class="barrinha"></div>
            <div class="barrinha"></div>
            <div class="barrinha"></div>
        </div>
	</span>

	<script>
	
	</script>
    <section>
	
        <div class="CAPA">
                <div class="apa">
                        <h1>IT&D</h1> 
                        <input type="text" name="text" placeholder="Faça sua pesquisa aqui">
                        <a href="#">Mensagens</a>
                        <a href="#">Desafios</a>
                        <a href="/">Sair</a>
                   </div>
        </div>
        <div class="VazioSup">
            <div class="perfilEnt">
                <img src="/static/img/com.jpg" alt="Foto perfil">
                 <h1>Vogel.NET</h1>
                <h2>Empresa de desenvolvimento Web</h2>
            </div>
           
        </div>
        
    
        <div class="navega">
            <button onclick="Grade1()" >Freelancers</button>
            <button  onclick="Grade2()" >Pendências</button >
        </div>
        
        <div id="master">
            <div class="grade">
                
                    <div class="jobC">
                        <div class="Cabeca">
                            <img src="/static/img/2.png" alt="Foto perfil">
                            <h2>Freelancer: Mariana Carraro</h2>
                        </div> 
                        <p></p>
                        <p>Devera desenvover todo banco de dados para essa Empresa</p>
                        <p>Para 25/10/2018</p>
                        <div class="but">
                                <button>Terminado</button>
                                <button>Cancelar</button>
                        </div>
                        
                    </div>
                    <div class="jobC">
                            <div class="Cabeca">
                                <img src="/static/img/1.png" alt="Foto perfil">
                                <h2>Freelancer: Otavio Albuquerque</h2>
                            </div> 
                            <p>Necessidade de  criar sistema para armazenamento de produtos em estoque :</p>
                        
                            <p>-Gerar arquivos PDF e XML </p>
                          
                            
                            <p>Para 25/10/2018</p>
                            <div class="but">
                                    <button>Terminado</button>
                                    <button>Cancelar</button>
                            </div>
                            
                    </div>
                    
            </div>
            <div class="grade">
                
                <div class="jobC">
                    <div class="Cabeca">
                        <img src="/static/img/1.png" alt="Foto perfil">
                        <h2>Freelancer: Paulo Silveira</h2>
                    </div> 
                    <p>Sistema de cadatro para caixa de padaria</p>
                    <p>Integração a maquina que imprime notas fiscais</p>
                    <p>Para 25/10/2018</p>
                    <div class="but">
                            <button>Candidatar-se</button>
                    </div>
                    
                </div>
                
            </div>
                    
            </div>
        </div>
       

        <%-include('shared/footer')%>        

</body>

</html>