<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('shared/head')%>
</head>

<body class="pizza">
    <!-- Header Section -->
    <header>
        <div class="desktop">
            <a href="home">Home</a>
            <span class="barra">|</span>
            <a href="">Contato</a>
            <span class="barra">|</span>
            <a id="QS" href="">Quem Somos</a>
        </div>
        <img src="" alt="logo">
        <div class="desktop divLogin">
            <a href="">Login</a>
        </div>
    </header>

    <!-- SideBar section -->

    <aside>
        <div id="hamburger">
            <div class="barrinha"></div>
            <div class="barrinha"></div>
            <div class="barrinha"></div>
        </div>
        <h2 class="invisivel">IT&D</h2>
        <ul class="invisivel">
            <li><a href="/usu">Quem somos</a></li>
            <li> <a href="">Contato</a></li>
            <li> <a href="/form">Sign Up</a></li>
            <li> <a href="">Login</a></li>
        </ul>
    </aside>

    <!-- Middle text Section -->

    <section class="meio center">
        <div>
            <h1>Preencha com seus dados !</h1>
        </div>
    </section>

    <!-- Form Section -->

    <section class="formu">
        <div class="formFormat">
            <div>
                <p>Você é /dev ?</p>
                <form action="/form" method="post" id=form>
                    <input type="text" name="nome" placeholder="Seu nome completo">
                    <input [type="number" ] ::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;} name="tel" placeholder="Celular">
                    <input type="email" name="email" placeholder="Seu email">
                    <input type="password" name="password" placeholder="Escolha uma Senha">
                    <button>Enviar</button>
                </form>
            </div>
        </div>
        <div class="formFormat2">
            <div>
                <p>Você é empresa ?</p>
                <form action="/form" method="post" id=form>
                    <input type="email" name="email" placeholder="Seu email">
                    <input type="password" name="password" placeholder="Escolha uma Senha">
                    <button>Enviar</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->

    <footer>

    </footer>
</body>

</html>