<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('shared/head')%>
</head>
<body>
   <h1>Preencha seus dados</h1>
    <div>
        <form action="/form" method="post" id=form>
            <input type="text" name="nome" placeholder="Seu nome completo">
            <input type="email" name="email" placeholder="Seu email">
            <input [type="number"] ::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;
            } name="tel" placeholder="Celular">
            <button>Enviar</button>
        </form> 
    </div>
   
</body>
</html> 