<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('shared/head')%>
</head>
<body>
    <header>
        <div>
            <a href="">Quem somos</a>
            <span class="barra">|</span>
            <a href="">Contato</a>
        </div>
        <img src="" alt="logo">
        <div>
            <a href="/form">Cadasto</a>
            <span class="barra">|</span>
            <a href="">Entrar</a>
        </div>
    </header>
</body>
</html>