<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('shared/head')%>
</head>

<body>
    <!-- Header Section -->
    <header>

        <section class="full">
            <div>
                <a id="QS" href="/usu">Quem somos</a>
                <span class="barra">|</span>
                <a href="/enterprise">Contato</a>
            </div>
            <div>
                <img class="logo" src="/static/img/logo.png" alt="logo">
            </div>
            <div>
                <a href="/form">Sign Up</a>
                <span class="barra">|</span>
                <a href="">Login</a>
            </div>
        </section>

    </header>
    
    <!-- SideBar section -->
    
    
    <aside>
        <div id="hamburger">
            <div class="barrinha"></div>
            <div class="barrinha"></div>
            <div class="barrinha"></div>
        </div>
        <h2 class="invisivel">IT&D</h2>
        <ul class="invisivel">
            <li> <a href="/usu">Quem somos</a></li>
            <li> <a href="/enterprise">Contato</a></li>
            <li> <a href="/form">Sign Up</a></li>
            <li> <a href="">Login</a></li>
        </ul>
    </aside>
    
    <!-- Middle Section -->    
    <section  id="ideia"> 
        
        <section class="meio">
            <div>
                <h1>Conecte sua empresa com um profissional junior</h1>
            </div>
            
            <div class="btn">
                
                <div>
                    <button onclick="myFunction()" class="accordion">Qual a ideia?</button>
                </div>      
                
                <div id="panel">
                    
                    <div>
                        <img src="" alt="Setinhas">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consectetur perferendis praesentium! At qui consequuntur tempora vitae sit eveniet laboriosam dignissimos ea porro ipsum quibusdam ex repellendus, error necessitatibus doloribus.</p>
                    </div>
                    <span>ººº</span>
                    <div>
                        <img src="" alt="Cabeça">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consectetur perferendis praesentium! At qui consequuntur tempora vitae sit eveniet laboriosam dignissimos ea porro ipsum quibusdam ex repellendus, error necessitatibus doloribus.</p>
                    </div>
                    
                </div>                
                <div>
                    <button>Empresas</button>
                    
                    <button>Profissionais</button>
                </div>            
            </div>
        </section>
    </section>

    <!-- Devs Section -->
    
    <section class="devs">        
        <div>
            <div class="devsImg">
                <img src="../static/img/Bru.jpeg" alt="Foto">
            </div>
            <h1>Bruna</h1>
            <p>"Através da plataforma consegui material para o meu portfólio"</p>
        </div>
        <div>
            <div class="devsImg">
                <img src="../static/img/Mat.jpeg" alt="Foto">
            </div>
            <h1>Matheus</h1>
            <p>"Através da plataforma consegui material para o meu portfólio"</p>
        </div>
        <div>
            <div class="devsImg">
                <img src="../static/img/Sam.jpeg" alt="Foto">
            </div>
            <h1>Samuel</h1>
            <p>"Através da plataforma consegui material para o meu portfólio"</p>
        </div>
    </section>
    
    <!-- Footer Section -->
    <!-- 
        <footer>
            <div>
                <img class="logo" src="/static/img/logo.png" alt="logo">
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam </p>
            </div>
        </footer> -->
        
    </body>
    
    </html>