<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('shared/head')%>
</head>

<body>
    <!-- Header Section -->
    <header>

        <%-include('shared/menu')%>

    </header>
    
    <!-- SideBar section -->
    
    
    <aside>
        <div id="hamburger">
            <div class="barrinha"></div>
            <div class="barrinha"></div>
            <div class="barrinha"></div>
        </div>
        <h2 class="invisivel">IT&D</h2>
        <ul class="invisivel">
            <li> <a href="/quemSomos">Quem somos</a></li>
            <li> <a href="/enterprise">Contato</a></li>
            <li> <a href="/form">Cadastro</a></li>
            <li> <a href="/login">Entrar</a></li>
        </ul>
    </aside>
    
    <!-- Middle Section -->    
    <section  id="ideia"> 
        
        <section class="meio">
            <div>
                <h1>Conecte sua empresa com um profissional junior</h1>
            </div>
            
            <div class="btn">
                
                <div>
                    <button onclick="myFunction()" class="accordion">Qual a ideia?</button>
                </div>      
                
                <div id="panel">
                    
                    <div>
                        <img src="/static/img/setinha.jpg" alt="Setinhas">
                        <p>O IT&D visa unir você, desenvolvedor/designer iniciante à pequenas empresas. Aqui você encontra projetos de empresas reais que precisam de um profissional mas não tem necessidades grandes o suficiente para empresas de tecnologia, logo, você profissional jr. tem a oportunidade de vivenciar prazos e a responsabilidade de lidar com um cliente e contruir o tão sonhado portifólio. Nosso site tem como objetivo ser um trampolim dos jovens profissionais de TI para o mercado de trabalho. </p>
                    </div>
                    
                    <div>
                        <img src="/static/img/prof.jpg" alt="Cabeça">
                        <p>Para você pequena empresa, que precisa de um sistema de registro, um logo para sua loja ou um site para mostrar sua ideia na internet, te conectamos com profissionais qualificados e que podem atender a sua demanda por uma fração do preço que uma grande empresa de tecnologia cobra. Assim você ajuda um novato a construir um portifólio e nós ajudamos você a impulsionar seu negocio.</p>
                    </div>
                    
                </div>                
                <div>
                    <button id="enterprise">Empresas</button>
                    
                    <button id="usuario">Profissionais</button>
                </div>            
            </div>
        </section>
    </section>
    
    <!-- Devs Section -->
    
    <section class="devs">        
        <div>
            <div class="devsImg">
                <img src="../static/img/Bru.jpeg" alt="Foto">
            </div>
            <h1>Bruna</h1>
            <p>"Através da plataforma consegui material para o meu portfólio"</p>
        </div>
        <div>
            <div class="devsImg">
                <img src="../static/img/Mat.jpeg" alt="Foto">
            </div>
            <h1>Matheus</h1>
            <p>"Através da plataforma consegui material para o meu portfólio"</p>
        </div>
        <div>
            <div class="devsImg">
                <img src="../static/img/Sam.jpeg" alt="Foto">
            </div>
            <h1>Samuel</h1>	
            <p>"Através da plataforma consegui material para o meu portfólio"</p>
        </div>
    </section>
    
    <!-- Footer Section -->
    
    <%-include('shared/footer')%>
    
</body>

</html>