<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('shared/head')%>
</head>
<body>
    <header>
        <div class="desktop">
            <a id="QS" href="">Quem somos</a>
            <span class="barra">|</span>
            <a href="">Contato</a>
        </div>
        <img src="" alt="logo">
        <div class="desktop">
            <a href="/form">Cadasto</a>
            <span class="barra">|</span>
            <a href="">Entrar</a>
        </div>
    </header>
    
    <aside>
        <div id="hamburger">
            <div class="barrinha"></div>
            <div class="barrinha"></div>
            <div class="barrinha"></div>
        </div>
        <h2 class="invisivel">IT&D</h2>
        <nav class="invisivel">
            <a href="">Quem somos</a>
            <a href="">Contato</a>
            <a href="">Cadastro</a>
            <a href="">Entrar</a>
        </nav>
    </aside>
    <div class="botoes">
        <button>Sou empresa</button>
        
        <button>Sou desenvolvedor</button>
    </div>
    
    <div class="meio">
        <h1>Conecte sua empresa com um desenvolvedor junior</h1>
    </div>
    
    <section class="ideia">
        <h1>Qual a ideia?</h1>
        <div>
            <img src="" alt="Setinhas">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consectetur perferendis praesentium! At qui consequuntur tempora vitae sit eveniet laboriosam dignissimos ea porro ipsum quibusdam ex repellendus, error necessitatibus doloribus.</p>
        </div>
        <span>ººº</span>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consectetur perferendis praesentium! At qui consequuntur tempora vitae sit eveniet laboriosam dignissimos ea porro ipsum quibusdam ex repellendus, error necessitatibus doloribus.</p>
            <img src="" alt="Cabeça">
        </div>
    </section>
    <footer>
        <div>
            <img src="" alt="Foto">
            <h1>Nome</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aperiam voluptates dolore excepturi harum.</p>
        </div>
        <div>
            <img src="" alt="Foto">
            <h1>Nome</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aperiam voluptates dolore excepturi harum!</p>
        </div>
        <div>
            <img src="" alt="Foto">
            <h1>Nome</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aperiam voluptates dolore excepturi harum unde!</p>
        </div>
    </footer>
</body>
</html>