<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('shared/head')%>
</head>

<body class="pizza">
    <header>
        <div class="desktop">
            <a id="QS" href="/usu">Quem somos</a>
            <span class="barra">|</span>
            <a href="">Contato</a>
        </div>
        <img src="" alt="logo">
        <div class="desktop divLogin">
            <a href="/form">Cadasto</a>
            <span class="barra">|</span>
            <a href="">Entrar</a>
        </div>
    </header>
    <aside>
        <div id="hamburger">
            <div class="barrinha"></div>
            <div class="barrinha"></div>
            <div class="barrinha"></div>
        </div>
        <h2 class="invisivel">IT&D</h2>
        <nav class="invisivel">
            <a href="/usu">Quem somos</a>
            <a href="">Contato</a>
            <a href="/form">Cadastro</a>
            <a href="">Entrar</a>
        </nav>
    </aside>

    <div class="meio">
        <h1>Conecte sua empresa com um desenvolvedor junior</h1>
    </div>

    <div class="botoes center">
        <button>Qual a ideia?</button>
    </div>

    <div class="botoes">
        <button>Empresas</button>

        <button>Profissionais</button>
    </div>

    <section class="ideia">
        <div class="meioAlinha">
            <div class="meioIdeia">
                    <img src="" alt="Setinhas">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consectetur perferendis praesentium! At qui consequuntur tempora vitae sit eveniet laboriosam dignissimos ea porro ipsum quibusdam ex repellendus, error necessitatibus doloribus.</p>
                </div>
                <span class="meioIdeia">ººº</span>
                <div class="meioIdeia">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam consectetur perferendis praesentium! At qui consequuntur tempora vitae sit eveniet laboriosam dignissimos ea porro ipsum quibusdam ex repellendus, error necessitatibus doloribus.</p>
                    <img src="" alt="Cabeça">
                </div>
            </div>
    </section>
    <section class="devs">
        <div>
            <img src="" alt="Foto">
            <h1>Nome</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aperiam voluptates dolore excepturi harum.</p>
        </div>
        <div>
            <img src="" alt="Foto">
            <h1>Nome</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aperiam voluptates dolore excepturi harum!</p>
        </div>
        <div>
            <img src="" alt="Foto">
            <h1>Nome</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur aperiam voluptates dolore excepturi harum unde!</p>
        </div>
    </section>
</body>

</html>