<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('shared/head')%>
	
</head>

<body>
    
    <header>
        <%-include('shared/menu')%>
    </header>
    
	<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Quem somos</a>
        <a href="#">Contato</a>
        <a href="#">Configurações</a>
        <a href="/">Sair</a>
	</div>
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">
        <div id="hamburger">
            <div class="barrinha"></div>
            <div class="barrinha"></div>
            <div class="barrinha"></div>
        </div>
    </span>
    <section id="log">
        <div class="lbtn">
            <h1>Login</h1>
            <button id="logemp">Empresa</button>
            
            <button id="logusu">Usuário</button> 
        </div>
        
        <div class="login-box" class="loginemp"> 
            <div class="login-box">
                <h1>Login Empresa</h1>
                <div class="textbox">
                    <input type="email" name="email" placeholder="Seu e-mail">
                </div>
                <div class="textbox">
                    <input type="password" name="password" placeholder="Sua Senha">
                </div>
                <div class="lbtn">
                    <a href="/enterprise">Sign in</a>
                </div>
            </div>
            <div class="login-box" class="loginusu">
                <h1>Login Usuário</h1>
                <div class="textbox">
                    <input type="email" name="email" placeholder="Seu e-mail">
                </div>
                <div class="textbox">
                    <input type="password" name="password" placeholder="Sua Senha">
                </div>
                <div class="lbtn">
                    <a href="/usu">Sign in</a>
                </div>
            </div>
        </div>    
    </section>
    
    <%-include('shared/footer')%> 
    
</body>

</html>