<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('shared/head')%>
	
</head>
<header>
	<%-include('shared/menu')%>        
</header>

<body>
	
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="#">Quem somos</a>
		<a href="#">Contato</a>
		<a href="#">Configurações</a>
		<a href="/">Sair</a>
	</div>
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">
		<div id="hamburger">
			<div class="barrinha"></div>
			<div class="barrinha"></div>
			<div class="barrinha"></div>
		</div>
	</span>
	<div class="desc">
		<h1>Quem Somos</h1>
		<p>
			
			Tudo começou com um grupo de amigos que estavam cursando a Academia de programação da Mastertech e procuravam seu primeiro emprego na área de tecnologia, todos nós enfrentamos a mesma dificuldade em nossa busca: "Por Favor envie seu Portifólio". Parecia impossível quebrar o ciclo de  preciso de um emprego para ter experiencia e experiencia para ter um emprego. Até que decidimos nos unir e ajudar a todos que passam por essa fase criando o IT&D. 
		</p>
		<p>
			O IT&D visa unir você, desenvolvedor/designer iniciante à pequenas empresas. Aqui você encontra projetos de empresas reais que precisam de um profissional mas não tem necessidades grandes o suficiente para empresas de tecnologia, logo, você profissional jr. tem a oportunidade de vivenciar prazos e a responsabilidade de lidar com um cliente e contruir o tão sonhado portifólio. Nosso site tem como objetivo ser um trampolim dos jovens profissionais de TI para o mercado de trabalho. 
		</p>
		<p>
			Esperamos que entre terminar os estudos e ter a carteira assinada não exista um período perdido, nem para vocês e nem para a sociedade. Nós acreditamos que uma mão lava a outra e assim temos um mundo melhor. Queremos mostrar o caminho das pedras para você alcançar o futuro que você quiser. 
			A partir dos nossos desafios os candidatos são rankeados para aparecerem nas sugestões para as empresas contratantes - E nossos jr. aproveitam para continuar estudando e melhorando - estas por sua vez, disponibilizam os projetos e as referencias para serem usados em portifólios e plataformas de códigos como GitHub. Todos os nossos projetos são pagos, afinal somos jr mas não vivemos de sonhos, mas pela confiança das empresas em nós, cobramos uma fração do valor cobrado por uma grande empresa.						
		</p>
		
	</div>
	
	<footer>
		<%- include('shared/footer')%>
	</footer>
	
</body>
</html>