<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('shared/head')%>
	
</head>

<body>
	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="#">Quem somos</a>
	  <a href="#">Contato</a>
	  <a href="#">Configurações</a>
	  <a href="/">Sair</a>
	</div>
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">
	 <div id="hamburger">
            <div class="barrinha"></div>
            <div class="barrinha"></div>
            <div class="barrinha"></div>
        </div>
	</span>
	<section>
    <div class="CAPA">
        
        <div class="apa">
            <h1>IT&D</h1> 
            <input type="text" name="text" placeholder="Faça sua pesquisa aqui">

            <a href="#">Mensagens</a>
            <a href="#">Desafios</a>
            <a href="/">Sair</a>
       </div>
    </div>
    <div class="VazioSup">
        <div class="perfil">
            <img src="/static/img/profile.jpg" alt="Foto perfil">
            <h1>Mayuko Watanabe</h1>
            <h2>Desenvolvimento Backend</h2>
            
        </div>
        
    </div>

    <div class="navega">
        <button onclick="Grade1()" >Novos</button>
        <button  onclick="Grade2()" >Fazendo</button >
    </div>
    
    <div id="master">
        <div class="grade">
            
                <div class="jobC">
                    <div class="Cabeca">
                        <img src="/static/img/A.png" alt="Foto perfil">
                        <h2>Empresa : Clariant</h2>
                    </div> 
                    <p>Descriçao</p>
                    <p>Devera desenvover todo banco de dados para essa Empresa</p>
                    <p>Para 25/10/2018</p>
                    <div class="but">
                            <button>Terminado</button>
                            <button>Cancelar</button>
                    </div>
                    
                </div>
                <div class="jobC">
                        <div class="Cabeca">
                                <img src="/static/img/B.png" alt="Foto perfil">
                                <h2>Empresa : Omega</h2>
                            </div> 
                        
                        <p>-Função para manejo de produtos </p>
                        <p>-Gerar arquivos PDF e XML </p>
                        <p>Para 09/10/2018</p>
                        <div class="but">
                                <button>Terminado</button>
                                <button>Cancelar</button>
                        </div>
                        
                </div>
                <div class="jobC">
                        <div class="Cabeca">
                                <img src="/static/img/C.png" alt="Foto perfil">
                                <h2>Empresa : Clariant</h2>
                         </div> 
                        <p>Sistema de cadatro para caixa de padaria</p>
                        <p>Integração a maquina que imprime notas fiscais</p>
                        <p>Para 25/10/2018</p>
                        <div class="but">
                                <button>Terminado</button>
                                <button>Cancelar</button>
                        </div>
                        
                </div>
                
        </div>
        <div class="grade">
            
            <div class="jobC">
                <div class="Cabeca">
                    <img src="/static/img/D.png" alt="Foto perfil">
                    <h2>Empresa : Clariant</h2>
                </div>
                <p>Cadastro de clientes</p>
                <p>Controle de fluxo de caixa</p>
                <p>Para 18/10/2018</p>
                <div class="but">
                        <button>Candidatar-se</button>
                </div>
                
            </div>
            
        </div>
                
        </div>
    </div>
   
    
    <%-include('shared/footer')%>
	
</body>

</html>