<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('shared/head')%>
	
</head>

<body>
	<section>
    <div class="CAPA">
        <h1></h1>
    </div>
    <div class="VazioSup">
        <div class="perfil">
            <img src="img/profile.jpg" alt="Foto perfil">
        </div>
        <h1>Mayuko Watanabe</h1>
        <h2>Desenvolvimento Backend</h2>
    </div>

    <div class="navega">
        <a href="">Em andamento</a>
        <a href="">Jobs</a>
        <a href="">Conexões</a>
    </div>
    
    <section>
    <div class="grade">
        
            <div class="jobC">
                <h1>Desenvolvimento banco de dados</h1>
                <h2>Empresa : Pagar.me</h2>
                <p>Devera desenvover todo banco de dados para essa Empresa</p>
                <p>Para 25/10/2018</p>
                <div class="but">
                        <button>Terminado</button>
                        <button>Cancelar</button>
                </div>
                
            </div>
            <div class="jobC">
                <h1>Desenvolvimento pagina para hospital</h1>
                <h2>Empresa : HC </h2>
                <p>Cadastro de pacientes </p>
                <p>Plantão médicos </p>
                <p>Plantão enfermeiras </p>
                <p>Para 18/10/2018</p>
                <div class="but">
                        <button>Terminado</button>
                        <button>Cancelar</button>
                </div>
                
            </div>
            <div class="jobC">
                <h1>Criação de chatboot</h1>
                <h2>Empresa : Oscorp </h2>
                <p>Pergutar info clientes</p>
                <p>Busca em instantanea no DB </p>
                <p>Agradescer </p>
                <p>Para 22/11/2018</p>
                <div class="but">
                    <button>Terminado</button>
                    <button>Cancelar</button>
                </div>
            </div>
            
    </div>
    </section>
	</section>
</body>

</html>