#log>div{
    border-radius: 30px;
    width: fit-content;
    min-width: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#log>div button{  
    text-decoration: none;
    padding: 10px;    
    width: fit-content;
    height: 7vh;
    border-radius: 15px;
    align-content: center;
    background-color: rgb(245, 245, 245, 0.8);
    text-transform: uppercase;
    font-weight: bold;
    color: black
}

#log>div button:hover{
    background-color: rgba(112, 70, 149, 0.7);
    color: white;
    cursor: pointer;    
}

#log h1{
    font-family: 'Quicksand', sans-serif;
    color: white;
    float: left;
    padding: 13px;
    text-align: center;
}

#first{
    display: inherit;
}

#log .login-box {    
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 28vh;
    position: fixed;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color:rgb(245, 245, 245, 0.9);
    padding: 8px;
    display: none;
}
.loginusu{
    visibility:visible;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    
    margin: 0px 0px 30px;
    
}
.textbox input{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    border-radius: 10px;
    
}



.CAPA2{
    position: fixed;
    top: 50%;
}
@media (min-width: 400px) {
    .login-box {
        
        position: fixed;
        top: 50%;
        left: 47%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
}