body {
	font-family: "Lato", sans-serif;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 0;
	background-color: rgba(112, 70, 149);;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.5s;
}



.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
.perfil img{
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
    margin-top: 10px;
}
.CAPA{
    margin-top: -3vh;
    height: 13vh;
    background-color:  rgba(112, 70, 149, 1);
}


.VazioSup {
	
    height: 50vh;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif
    
}
.VazioSup h1 {
    font-size: 20pt;
    color: white;
}
.VazioSup h2 {
    font-size: 15pt;
    margin-top: -20px;
    color: white;
    font-weight: normal;
}
.navega {
    height: 15vw;
    display: flex;
    align-items: center;
    background-color: rgba(112, 70, 149);  
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    text-decoration: none;

}
.navega a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.navega button{
    border: none;
    background-color: rgba(112, 70, 149);
    color: white;
    font-size: 16pt
}
.grade2{
    visibility: hidden;
    margin-top: -142vh;
}
.jobC{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background: rgb(201, 201, 201);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3%;
    padding: 2vh;
    margin: 1vh;

}
.jobC h2 p{
    font-size: 15pt;
    font-weight: normal;
}
.jobC button {
    color: black;
    
}
