html,
body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*************** Header Start ***************/

header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: auto;
    background-color: rgba(112, 70, 149, 0.7);
    text-decoration: none;
    color: white;
}

header div {
    margin: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

header div a {
    text-decoration: none;
    padding: 2px 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.divLogin {
    width: 200px;
}

/*************** Header End *************/

/*************** Form Start *************/

.formu {
    display: flex;
    margin: auto;
    justify-content: space-around;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    margin: auto;
}

.formFormat {
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    text-align: center
}

.formFormat p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.formFormat2 {
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    right: 10px;
    text-align: center
}

.formFormat2 p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.formFormat input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    border: 0;
    border-radius: 25px;
    width: 300px;
    height: 30px;
    background-color: rgba(112, 70, 149, 0.7);
    border: 1px solid;
    padding: 10px;
}

.formFormat2 input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    border: 0;
    border-radius: 25px;
    width: 300px;
    height: 30px;
    background-color: rgba(112, 70, 149, 0.7);
    border: 1px solid;
    padding: 10px;
}

.formFormat input::placeholder {
    color: white;
    padding-left: 10px;
    font-size: 13pt;
}

.formFormat2 input::placeholder {
    color: white;
    padding-left: 10px;
    font-size: 13pt;
}

/*************** Form End *************/

/***************  Invisivel menu lateral para versao desktop Start ***********/

.invisivel {
    visibility: hidden;
}

/***************  Invisivel menu lateral para versao desktop End ***********/

/***************  Buttons Start ****************/

.botoes {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 80vw;

}

.botoes button {
    width: 45%;
    height: 70px;
    border-radius: 60px;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    color: rgba(112, 70, 149);
    text-transform: uppercase;
}

.botoes button:hover {
    cursor: pointer;
    background-color: rgba(36, 32, 56, 0.5);
}

/***************  Buttons End ****************/


.center {
    justify-content: center;
}


/*************** Middle Section Start **************/

.meio div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: 'Quicksand', sans-serif;
    width: 90vw;
    margin: 40px 0;
}

.meio div h1 {
    width: 80vw;
    display: flex;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 30pt;
}

/*************** Middle Section End **************/

/*************** Idea Section Start **************/


.ideia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    color: white;
    font-family: 'Quicksand', sans-serif;

}

.ideia h1 {
    margin: 0;
    background: rgba(112, 70, 149, 0.7);
    border-radius: 0px 0px 0px 0px;
    padding: 5px;
}

.ideia span {
    margin: 0;
    width: 80%;
    text-align: center;
    padding: 5px;
}

.ideia div {
    width: 80%;
    display: flex;
    text-align: justify;
    border-radius: 10px 0px 10px 0px;
    padding: 5px;
}

.ideia :nth-child(4) {
    border-radius: 0 0 10px 10px;
}

.meioIdeia {
 background-color: rgba(112, 70, 149, 0.7);
}

/*************** Idea Section End **************/

/*************** Devs Section Start **************/

.devs {
    display: flex;
    padding: 10px 0;
    color: white;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(112, 70, 149, 0.7);
    margin-bottom: 0;
    border-radius: 10px;
    margin: 0px;
}

.devs img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.devsImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.devs div {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.devs div h1 {
    margin: 0;
    font-size: 15px;
}

.devs div p {
    font-size: 12px;
    text-align: center;
}

/*************** Devs Section End **************/

/*************** Mobile Version 700px Start **************/



@media (max-width: 700px) {

/*************** Barra Lateral Start**************/

    .desktop {
        transition: 1s;
        visibility: hidden;
    }
    aside {
        height: 70vh;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        position: absolute;
        margin-top: -100px;
        transform: translateX(-260px);
    }
    aside.mostrando {
        background-color: rgba(112, 70, 149, 0.9);
        transform: translateX(0);
    }
    aside nav {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        height: 40%;
    }
    aside nav a {
        padding: 10px;
        text-decoration: none;
        font-size: 20pt;
        margin-left: 20px;
        color: white;
        font-family: 'Quicksand', sans-serif;
    }
    aside h2 {
        margin-left: 30px;
        color: white;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
    #hamburger {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
    }
    .barrinha {
        height: 4px;
        width: 40px;
        background-color: rgb(218, 106, 14);
        border-radius: 2px;
        transition: 1s;
    }
    .formu {
        display: block;
    }
    .formFormat {
        display: block;
        margin: 10px;
        text-align: center;
    }
    .formFormat2 {
        display: block;
        float: left;
        margin: 10px;
        text-align: center;
    }

}

