
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/static/img/bgimg.jpg');
}

/*************** Header Start ***************/

/*************** Barra Lateral Start**************/

.desktop {
    visibility: hidden;
}

.invisivel {
    visibility: hidden;
}

header {
    display: block;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: auto;
    background-color: rgba(112, 70, 149, 0.7);
    text-decoration: none;
    color: white;
}

header div {
    margin: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.logo {
    width: 60px;
    height: 60px;
    position: relative;
    align-items: center;
    margin: auto;
}

header div a {
    text-decoration: none;
    padding: 2px 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
.divLogin {
    width: 200px;
}

aside {
  height: 100%;
  width: 80%;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: 1s;
}
aside.mostrando {
    background-color: rgba(112, 70, 149);
    transform: translateX(0);
    z-index: 1;
    transition: 1s;
}
aside ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
}
aside ul a {
    text-decoration: none;
    font-size: 10pt;
    margin-left: 20px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
aside h2 {
    margin-left: 90px;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
aside li a{
    font-size: 20pt;
}
#hamburger {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.barrinha {
    height: 4px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    transition: 1s;
}

/*************** Barra Lateral End **************/

/*************** Meio Start **************/

.center {
    justify-content: center !important;
}


/*************** Middle Section Start **************/

.meio div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: 'Quicksand', sans-serif;
    width: 90vw;
    margin: 40px auto;
    text-align: center;
}

.meio div h1 {
    width: 80vw;
    display: flex;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 15pt;
    justify-content: center;
}

.meio {
    margin-top: 10vh !important;
}


.botoes {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.botoes button {
    width: 45%;
    height: 40px;
    border-radius: 60px;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: white;
    font-family: 'Quicksand', sans-serif;
    color: rgba(112, 70, 149);
    text-transform: uppercase;
}

.botoes button:hover {
    cursor: pointer;
    background-color: rgba(36, 32, 56, 0.5);
}

#panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion {
    cursor: pointer;
    transition: 0.4s;
}

/*************** Meio End **************/

/*************** Devs Start **************/

.devs {
    display: flex;
    position: relative;
    padding: 10px 0;
    color: white;
    font-family: 'Quicksand', sans-serif; 
    margin: auto;
    width: 92vw;
    height: auto;
    align-items: center;
}

.devs img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.devsImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.devs div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0vw;
    height: auto;
}
.devs div h1 {
    margin: 0;
    font-size: 13pt;
}

.devs div p {
    font-size: 9pt;
    text-align: center;
}

.devs2{
    width: 100%;
    background-color: rgba(112, 70, 149, 0.7);
    width: 60vw;
}


/*************** Devs End **************/

/*************** Footer Start **************/

footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-bottom: 0px;
    background-color: rgba(112, 70, 149);
    text-decoration: none;
    color: white;
}

/*************** Footer End **************/

/*************** Form Page Start **************/


.formu {
    display: block;
}
.formFormat {
    display: block;
    margin: 10px;
    text-align: center;
}
.formFormat2 {
    display: block;
    float: left;
    margin: 10px;
    text-align: center;
}

/*************** Form Page End **************/



/*************** Desktop Version 900px Start **************/


@media (min-width: 900px) {

    header {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;
        margin: auto;
        background-color: rgba(112, 70, 149, 0.7);
        text-decoration: none;
        color: white;
    }

    header div {
        margin: 0 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 300px;
    }

    header img {
        width: 60px;
        height: 60px;
    }

    header div a {
        text-decoration: none;
        padding: 2px 10px;
        color: white;
        font-family: 'Quicksand', sans-serif;
    }

    .divLogin {
        width: 200px;
    }

    .desktop {
        visibility: visible;
    }

    #hamburger {
        visibility: hidden !important;
    }

    /*************** Header End *************/

    /*************** Form Start *************/

    .formu {
        display: flex;
        justify-content: space-around;
        position: relative;
        font-family: 'Quicksand', sans-serif;
        margin: 0 auto auto auto;
    }

    .formFormat {
        display: inline-flex;
        flex-direction: column;
        margin: 10px;
        text-align: center
    }

    .formFormat p {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    .formFormat2 {
        display: inline-flex;
        flex-direction: column;
        margin: 10px;
        right: 10px;
        text-align: center
    }

    .formFormat2 p {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    .formFormat input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px;
        border: 0;
        border-radius: 25px;
        width: 300px;
        height: 30px;
        background-color: rgba(112, 70, 149, 0.7);
        border: 1px solid;
        padding: 10px;
    }

    .formFormat2 input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px;
        border: 0;
        border-radius: 25px;
        width: 300px;
        height: 30px;
        background-color: rgba(112, 70, 149, 0.7);
        border: 1px solid;
        padding: 10px;
    }

    .formFormat input::placeholder {
        color: white;
        padding-left: 10px;
        font-size: 13pt;
    }

    .formFormat2 input::placeholder {
        color: white;
        padding-left: 10px;
        font-size: 13pt;
    }

    /*************** Form End *************/

    /***************  Invisivel menu lateral para versao desktop Start ***********/

    .invisivel {
        visibility: hidden;
    }

    /***************  Invisivel menu lateral para versao desktop End ***********/

    /***************  Buttons Start ****************/

    .botoes {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
    }

    .botoes button {
        width: 45%;
        height: 70px;
        border-radius: 60px;
        border: none;
        background: rgba(255, 255, 255, 0.7);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 27px;
        color: white;
        font-family: 'Quicksand', sans-serif;
        color: rgba(112, 70, 149);
        text-transform: uppercase;
    }

    .botoes button:hover {
        cursor: pointer;
        background-color: rgba(36, 32, 56, 0.5);
    }

    /***************  Buttons End ****************/


    .center {
        justify-content: center !important;
    }


    /*************** Middle Section Start **************/

    .meio div {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-around;
        color: white;
        font-family: 'Quicksand', sans-serif;
        width: 90vw;
        margin: 40px auto;
    }

    .meio div h1 {
        width: 80vw;
        display: flex;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 30pt;
        justify-content: center;
    }

    /*************** Middle Section End **************/

    /*************** Idea Section Start **************/


    .ideia {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 0;
        color: white;
        font-family: 'Quicksand', sans-serif;

    }

    .ideia h1 {
        margin: 0;
        background: rgba(112, 70, 149, 0.7);
        border-radius: 0px 0px 0px 0px;
        padding: 5px;
    }

    .ideia span {
        margin: 0;
        width: 80%;
        text-align: center;
        padding: 5px;
    }

    .ideia div {
        width: 0%;
        display: flex;
        text-align: justify;
        border-radius: 10px 0px 10px 0px;
        padding: 5px;
    }

    .ideia:nth-child(4) {
        border-radius: 0 0 10px 10px;
    }

    .meioIdeia {
       background-color: rgba(112, 70, 149, 0.7);
   }

   /*************** Idea Section End **************/

   /*************** Devs Section Start **************/

   .devs {
    display: flex;
    position: relative;
    padding: 20px 0;
    color: white;
    font-family: 'Quicksand', sans-serif; 
    margin: 10px 0 30vh 0;
    width: 92vw;
    margin: 60px auto;
}

.devs img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.devsImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.devs div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0vw;
    height: 17vh;
}
.devs div h1 {
    margin: 0;
    font-size: 13pt;
}

.devs div p {
    font-size: 9pt;
    text-align: center;
}

.devs2{
    width: 100%;
    background-color: rgba(112, 70, 149, 0.7);
}
/*************** Devs Section End **************/

}

