body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('/static/img/bgimg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

/*************** Header Start ***************/

/*************** Barra Lateral Start**************/

.full {
    visibility: hidden;
}

.invisivel {
    visibility: hidden;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: auto;
    background-color: rgba(112, 70, 149, 0.7);
    text-decoration: none;
    color: white;
}

header div{
    margin: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 241px;
}

header div a{
    text-decoration: none;
    color: white;
    padding: 3px 15px;
}
div a:hover{    
    background-color: black;
    border-radius: 10px;
}

.logo {
    width: 60px;
    height: 60px;
    position: relative;
    align-items: center;
    margin: auto;
}

aside {
    height: 100%;
    width: 10%;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: 0.5s;
}

aside.mostrando {
    background-color: rgba(112, 70, 149);
    transform: translateX(0);
    width: 80%;
    z-index: 1;
    transition: 0.5s;
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
aside ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
}
aside ul a {
    text-decoration: none;
    font-size: 10 pt;
    margin-left: 20px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
aside h2 {
    margin-left: 90px;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
aside li a{
    font-size: 20pt;
}
#hamburger {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.barrinha {
    height: 4px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    transition: 1s;
}

/*************** Barra Lateral End **************/

/*************** Meio Start **************/

.center {
    justify-content: center !important;
}

/*************** Middle Section Start **************/


.meio{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: static;    
    margin: 0 0 40px;
    height: fit-content;
}

.meio div h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    width: fit-content;
    color: white;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
    width: 100vw;
}

.btn button{
    min-width: fit-content;
    width: 45vw;
    height: 8vh;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgb(245, 245, 245, 0.9);
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(112, 70, 149);

}

button:hover{
    background-color: rgba(112, 70, 149, 0.7);
    color: white;
    cursor: pointer;    
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor: pointer;
    transition: 0.4s;
}

/* Style the accordion panel. Note: hidden by default */

#panel {
    background-color: rgba(245, 245, 245, 0.9);
    display: none;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

#panel div{
    display: block;
}

/*************** Meio End *************/



/*************** Devs Start **************/

.devs {
    display: flex;
    color: white;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(112, 70, 149, 0.7);
    justify-content: space-evenly;
    padding: 10px 0;
    height: 20vh;
    width: 100vw;
}

.devs img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.devsImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.devs div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0vw;
    height: 15vh;
}
.devs div h1 {
    margin: 0;
    font-size: 13pt;
}

.devs div p {
    font-size: 9pt;
    text-align: center;
}
/*************** Devs End **************/

/*************** Footer Start **************/

footer {
    position: absolute;
    bottom:0;
    height: fit-content;
    width: 100%;
    background-color: black;
}

footer div{
    text-align: justify;
    padding: 5px;
}

footer div a{
	font-size: 10pt;
    text-decoration: none;
    color: white;
}


/*************** Footer End **************/

/*************** Form Page Start **************/


.formu {
    display: block;
}
.formFormat {
    display: block;
    margin: 10px;
    text-align: center;
}
.formFormat2 {
    display: block;
    float: left;
    margin: 10px;
    text-align: center;
}

/*************** Form Page End **************/



/*************** Desktop Version 900px Start **************/


@media (min-width: 900px) {
    
    aside{
        display: none;
    }
    
    .full{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        visibility: visible;
    }
    
    .btn{
        width: 100vw;
    }

    .btn button{
        height: 9vh;
        width: 35vw;
    }
    
    .meio div h1{
        width: fit-content;
        max-width: 669px;
        font-size: 2.5em !important;
    }   
    
    #panel{
    width: 70vw;
    }

    #panel div{
        display: flex;
    }

    footer{
        position: unset;
    }

}



/*************** Form Start *************/

.formu {
    display: flex;
    justify-content: space-around;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto auto auto;
}

.formFormat {
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    text-align: center
}

.formFormat p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.formFormat2 {
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    right: 10px;
    text-align: center
}

.formFormat2 p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.formFormat input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    border: 0;
    border-radius: 25px;
    width: 300px;
    height: 30px;
    background-color: rgba(112, 70, 149, 0.7);
    border: 1px solid;
    padding: 10px;
}

.formFormat2 input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    border: 0;
    border-radius: 25px;
    width: 300px;
    height: 30px;
    background-color: rgba(112, 70, 149, 0.7);
    border: 1px solid;
    padding: 10px;
}

.formFormat input::placeholder {
    color: white;
    padding-left: 10px;
    font-size: 13pt;
}

.formFormat2 input::placeholder {
    color: white;
    padding-left: 10px;
    font-size: 13pt;
}

/*************** Form End *************/

/***************  Invisivel menu lateral para versao desktop Start ***********/

.invisivel {
    visibility: hidden;
}

/***************  Invisivel menu lateral para versao desktop End ***********/


@media (min-width: 1270px) {
    
    header  {
        height: 170px;
    }
    
    header a {
        font-size: 18pt;
    }
    
    .meio div {
        width: 55vw;
        margin: 135px auto;
        justify-content: space-between;
    }
    
    .meio div h1 {
        font-size: 60pt;
    }
    
    .devs {
        width: 100vw;
    }
    
    .devs div {
        height: 52vh;
    }
    
    .devs img {
        height: 150px;
        width: 150px;
    }
    
    .devs div h1 {
        font-size: 25pt;
    }
    
    .devs div p {
        font-size: 20pt;
    }
    
    .botoes button {
        height: 100px;
    }
    
}