body {
    margin: 0;
    background-image: url('/static/img/bgimg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

/*************** Header Start ***************/

/*************** Barra Lateral Start**************/

.full {
    visibility: hidden;
}

.invisivel {
    visibility: hidden;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin: auto;
    background-color: rgba(112, 70, 149, 0.7);
    text-decoration: none;
    color: white;
}

header div{
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 100vw; */
}

a:hover{    
    color: black;
}

.logo {
    width: 60px;
    height: 60px;
    position: relative;
    align-items: center;
    margin: auto;
}

aside {
    height: 100%;
    width: 10%;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: 0.5s;
}

aside.mostrando {
    background-color: rgba(112, 70, 149);
    transform: translateX(0);
    width: 80%;
    z-index: 1;
    transition: 0.5s;
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    
    visibility: hidden;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
aside ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
}
aside ul a {
    text-decoration: none;
    font-size: 10 pt;
    margin-left: 20px;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
aside h2 {
    margin-left: 90px;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
aside li a{
    font-size: 20pt;
}
#hamburger {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.barrinha {
    height: 4px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    transition: 1s;
}

/*************** Barra Lateral End **************/

/*************** Meio Start **************/

#init{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.meio{
    position: static;    
    height: fit-content;    
    text-transform: uppercase;  
    text-align: justify; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meio h1{  
    font-size: 24px;
    text-align: center;
    width: 380px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
    /* width: 100vw; */
}

.btn button{
    min-width: fit-content;
    width: 45vw;
    height: 8vh;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgb(245, 245, 245, 0.9);
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(112, 70, 149);
    margin: 2vw;
    
}

button:hover{
    background-color: rgba(112, 70, 149, 0.7);
    color: white;
    cursor: pointer;    
}


.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*************** Quem somos Start **************/

.desc{
	height:fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10vh 0 0;
    padding: 2vw;
}

.desc p{
	text-align: justify;
}

.qs{
    display: flex;
    flex-direction: column-reverse;
}

.qs div :nth-child(1){
    margin: 0;
}

.qs img{ 
    width: 75vw;
    height: 28vh;
    padding: 30px;
}
/*************** Quem somos End *************/

/*************** Pros Start **************/

#pros{
	height:fit-content;
    background-color: rgba(112, 70, 149, 0.7);
    margin: 10vh 0 0;
    color: rgba(255, 255, 255, 0.9);
    padding: 2vw;
}

#pros p{
    text-align: justify;
}

.proimg{
    display: flex;
    flex-direction: column-reverse;
    
}

.proimg img{
    width: 56vw;
    height: 30vh;
    
}
.empimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.empimg img{
    width: 55vw;
    height: 30vh;
}
.empimg p{
    margin-left: 3vw;
}


/*************** Pros End *************/
/*************** Empresas Start **************/

#empresas{
	height:fit-content;
    background-color:rgba(255, 255, 255, 0.9);
    margin: 10vh 0 0; 
    padding: 2vw;
}

#empresas p{
	text-align: justify;
}
/*************** Empresas End **************/
/*************** Devs Start **************/

.devs {
    display: flex;
    color: white;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(112, 70, 149, 0.7);
    justify-content: space-evenly;
    padding: 10px 0;
    height: fit-content;
    margin: 10vh 0 0;
}

.devs img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.devsImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.devs div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0vw;
    height: 15vh;
}
.devs div h1 {
    margin: 0;
    font-size: 13pt;
}

.devs div p {
    font-size: 9pt;
    text-align: center;
}
/*************** Devs End **************/

/*************** Footer Start **************/

footer {
    position: fixed;
    bottom:0;
    height: fit-content;
    background-color:black;
    margin: 0;
}

footer div{    
    text-align: justify;
    padding: 5px 0;
}

footer div a{
    font-size: 9pt;
    text-decoration: none;
    color: white;
    padding: 2px 7px;
    
}

/*************** Footer End **************/

/*************** Form Page Start **************/
.formu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto auto auto;
}

.formFormat {
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    text-align: center
}

.formFormat p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.formFormat2 {
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    right: 10px;
    text-align: center
}

.formFormat2 p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.formFormat input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    border: 0;
    border-radius: 25px;
    width: 300px;
    height: 30px;
    background-color: rgba(112, 70, 149, 0.7);
    border: 1px solid;
    padding: 10px;
}

.formFormat2 input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    border: 0;
    border-radius: 25px;
    width: 300px;
    height: 30px;
    background-color: rgba(112, 70, 149, 0.7);
    border: 1px solid;
    padding: 10px;
}

.formFormat input::placeholder {
    color: white;
    padding-left: 10px;
    font-size: 13pt;
}

.formFormat2 input::placeholder {
    color: white;
    padding-left: 10px;
    font-size: 13pt;
}

/*************** Form End *************/

/*************** Desktop Version 900px Start **************/

@media (min-width: 900px) {
    
    aside{
        display: none;
    }
    
    .full{
        display: flex;
        width: 100vw;
        justify-content: space-between;
        visibility: visible;
        flex-direction: column;
    }
    
    header div{
        margin: 5px 0;
    }
    
    header div h1{
        margin: 0;
    }
    
    header div a{
        text-decoration: none;
        color: white;
    }
    
    #login{
        font-size: small;
        justify-content: flex-end;
    }
    
    #login a{
        margin: 0 2vw;
    }
    
    .btn button{
        height: 9vh;
        width: 35vw;
    }
    
    
    .meio h1{
        font-size: 30pt;
        width: 51vw;
    }   
    
    .qs{
        flex-direction: row-reverse;
    }
    
    .qs img{
        width: 30vw;
        padding: 30px 30px 0 0;
    }
    
    
    .proimg{
        flex-direction: row;
    }
    
    .proimg img{
        width: 15vw;
    }
    
    .empimg{
        flex-direction: row;
    }
    .empimg img{
        width: 17vw;
    }
    
    footer{
        position: relative;
        bottom: 0;
    }
    
    .formu{
        flex-direction: row;
    }
    
}

/***************  Invisivel menu lateral para versao desktop Start ***********/

.invisivel {
    visibility: hidden;
}

/***************  Invisivel menu lateral para versao desktop End ***********/